.dashboard {
    font-size: 18px;
    padding: 20px;
  }
  
  /* Estilos para telas pequenas (dispositivos móveis) */
  @media (max-width: 768px) {
    .dashboard {
      font-size: 16px;
      padding: 10px;
    }
  }
  
  /* Estilos para telas médias (tablets) */
  @media (min-width: 769px) and (max-width: 1024px) {
    .dashboard {
      font-size: 18px;
      padding: 15px;
    }
  }
  
  /* Estilos para telas grandes (desktops) */
  @media (min-width: 1025px) {
    .dashboard {
      font-size: 20px;
      padding: 20px;
    }
  }
  